<div
  (click)=" this.dialogVisible = dialogOpen ;"
  class="border-round pt-3 px-3 flex flex-column justify-content-between md:m-4 cursor-pointer"
  [style]="
    'background: url(' +
    ((isPhone && tabData.phoneUrl) ? tabData.phoneUrl : tabData.url) +
    '); background-repeat: no-repeat;background-size: cover;background-position:center'
  "
  style="height: 50dvh; max-width: 100%"
>
  <div class="w-full flex justify-content-between">
    <!-- <app-outlined-button [text]="tipo" [rounded]="false" /> -->
    @if(dialogOpen){
    <app-outlined-button
      icon="pi pi-arrow-up-right"
      [rounded]="false"
      (clicked)=" this.dialogVisible = true;"
    />
    }
  </div>

  <div>
    <p class="arboreto  text-2xl" [class]="white ? 'text-white' : ''">{{ tabData.name }}</p>
    <p class="md:h-3rem text-white">{{ tabData.subText }}</p>
  </div>
</div>

<app-dialog-cornice
  [openCornice]="tabData"
  [openDialog]="dialogVisible"
  (dialogClose)="dialogVisible = !dialogVisible"
/>
