<!--Footer-->
<footer class="border-round bg-black-alpha-90 text-white p-2 md:p-8">
  <div class="grid grid-cols-1 gap-1 md:gap-8">
    <!-- Colonna principale: Crea Arte -->
    <div class="md:col-5 col-12 space-y-2">
      <h2 class="text-lg font-bold text-white">CREA ARTE di Alan Mosconi</h2>
      <p class="text-gray-400">Via G. Mameli, 18, 22063 Cantù CO</p>
    </div>

    <!-- Colonna 1: Contatti -->
    <div class="col-12 md:col">
      <ul class="list-none text-gray-400">
        <li class="mb-3">
          <h3 class="text-md font-semibold text-white">Contatti</h3>
        </li>
        <li class="mb-3">
          <a href="tel:+39 340 640 0917" class="no-underline text-gray-400"
            ><i class="pi pi-phone mr-2"></i>+39 340 640 0917</a
          >
        </li>
        <li class="mb-3">
          <a
            href="mailto:alan.mosconi@hotmail.it"
            class="no-underline text-gray-400"
            ><i class="pi pi-envelope mr-2"></i
            >{{ "alan.mosconi@hotmail.it" }}</a
          >
        </li>
        <li class="mb-3">
          <i class="pi pi-facebook mr-2"></i>Account Facebook
        </li>
        <li class=""><i class="pi pi-instagram mr-2"></i>Account Instagram</li>
      </ul>
    </div>

    <!-- Colonna 2: About Us -->
    <div class="md:col col-12">
      <ul class="list-none text-gray-400">
        <li class="mb-3">
          <h3 class="text-md font-semibold text-white">Su di noi</h3>
        </li>
        <li class="mb-3"><a href="#" class="no-underline text-gray-400">CreArte</a></li>
        <li class="mb-3"><a href="#chi-siamo" class="no-underline text-gray-400">Chi siamo</a></li>
        <li class="mb-3"><a href="#cornici" class="no-underline text-gray-400">Cornici</a></li>
        <li class="mb-3"><a href="#tecniche" class="no-underline text-gray-400">Tencniche</a></li>
      </ul>
    </div>
  </div>

  <!-- Copyright -->
  <div
    class="text-center py-4 mt-8 border-t border-gray-700 text-gray-500 text-sm"
  >
    <p>2024 © All Rights Reserved | Alan Mosconi</p>
  </div>
</footer>
