<!--Footer-->
<footer class="rounded-border bg-black/90 text-white p-5 md:p-20">
  <div class="grid md:grid-cols-5 gap-4">
    <!-- Colonna principale: Crea Arte -->
    <div class="col md:col-span-2 space-y-2">
      <h2 class="text-lg font-bold text-white">CREARTE di Alan Mosconi</h2>
      <p class="text-gray-400">Via G. Mameli, 18, 22063 Cantù CO</p>
    </div>

    <!-- Colonna 1: Contatti -->
    <div class="col-span-1">
      <ul class="list-none text-gray-400">
        <li class="mb-4">
          <h3 class="text-md font-semibold text-white">Contatti</h3>
        </li>
        <li class="mb-4">
          <a href="tel:+39 340 640 0917" class="no-underline text-gray-400"
            ><i class="pi pi-phone mr-2"></i>+39 340 640 0917</a
          >
        </li>
        <li class="mb-4">
          <a
            href="mailto:alan.mosconi@hotmail.it"
            class="no-underline text-gray-400"
            ><i class="pi pi-envelope mr-2"></i
            >{{ "alan.mosconi@hotmail.it" }}</a
          >
        </li>
        <li class="mb-4">
          <i class="pi pi-facebook mr-2"></i>
          <a
            href="https://www.facebook.com/100057733296819/about/?_rdr"
            target="_blank"
            class="no-underline text-gray-400"
            >Crearte Facebook</a
          >
        </li>
        <li class="">
          <i class="pi pi-instagram mr-2"></i>
          <a
            href="https://www.instagram.com/alan.mosconi/?hl=it"
            target="_blank"
            class="no-underline text-gray-400"
            >Crearte Instagram</a
          >
        </li>
      </ul>
    </div>

    <!-- Colonna 2: About Us -->
    <div class="col-span-1">
      <ul class="list-none text-gray-400">
        <li class="mb-4">
          <h3 class="text-md font-semibold text-white">Su di me</h3>
        </li>
        <li class="mb-4">
          <a href="#" class="no-underline text-gray-400">CreArte</a>
        </li>
        <li class="mb-4">
          <a href="#chi-siamo" class="no-underline text-gray-400">Chi siamo</a>
        </li>
        <li class="mb-4">
          <a href="#cornici" class="no-underline text-gray-400">Cornici</a>
        </li>
        <li class="mb-4">
          <a href="#tecniche" class="no-underline text-gray-400">Tecniche</a>
        </li>
      </ul>
    </div>

    <div class="col-span-1">
      <ul class="list-none text-gray-400">
        <li class="mb-4">
          <h3 class="text-md font-semibold text-white">Policy</h3>
        </li>
        <li class="mb-4">
          <a
            href="https://www.iubenda.com/privacy-policy/71352873"
            class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe"
            title="Privacy Policy "
            target="_blank"
            >Privacy Policy</a
          >
          <script type="text/javascript">
            (function (w, d) {
              var loader = function () {
                var s = d.createElement("script"),
                  tag = d.getElementsByTagName("script")[0];
                s.src = "https://cdn.iubenda.com/iubenda.js";
                tag.parentNode.insertBefore(s, tag);
              };
              if (w.addEventListener) {
                w.addEventListener("load", loader, false);
              } else if (w.attachEvent) {
                w.attachEvent("onload", loader);
              } else {
                w.onload = loader;
              }
            })(window, document);
          </script>
        </li>
        <li class="mb-4">
          <a
            href="https://www.iubenda.com/privacy-policy/71352873/cookie-policy"
            class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe"
            title="Cookie Policy "
            target="_blank"
            >Cookie Policy</a
          >
          <script type="text/javascript">
            (function (w, d) {
              var loader = function () {
                var s = d.createElement("script"),
                  tag = d.getElementsByTagName("script")[0];
                s.src = "https://cdn.iubenda.com/iubenda.js";
                tag.parentNode.insertBefore(s, tag);
              };
              if (w.addEventListener) {
                w.addEventListener("load", loader, false);
              } else if (w.attachEvent) {
                w.attachEvent("onload", loader);
              } else {
                w.onload = loader;
              }
            })(window, document);
          </script>
        </li>
      </ul>
    </div>
  </div>

  <!-- Copyright -->
  <div
    class="text-center py-6 mt-20 border-t border-gray-700 text-gray-500 text-sm"
  >
    <p>2024 © All Rights Reserved | Alan Mosconi</p>
  </div>
</footer>
