<div class="grid grid-cols-12 gap-6 col-span-12 mt-6 p-6">
  <div
    class="col-span-12 md:col-span-6 h-full flex flex-col"
    style="flex-grow: 1; justify-content: space-between"
  >
    <div class="w-full mb-6">
      <p class="arboreto text-2xl col-span-12 md:col">Chi sono</p>
    </div>

    <div
      class="flex flex-1 flex-col justify-between w-full "
      style="flex-grow: 1"
    >
      <!-- Citazione -->
      <div
        class="quote-icon arboreto flex justify-start items-start"
        style="font-size: 2.2rem; color: #888"
      >
        “
      </div>
      <p class="quote-text animate-fadeinup animate-duration-1000">
        Impara le regole come un professionista, affinché tu possa infrangerle
        come un artista.
      </p>
      <div
        class="quote-icon arboreto flex justify-end items-end"
        style="font-size: 2.2rem; color: #888"
      >
        ”
      </div>

      <!-- Autore della citazione -->
      <div
        class="w-full text-center"
        style="
          font-weight: bold;
          color: #333;
          margin-top: 0.5rem;
          font-size: 1.1rem;
        "
      >
        (Pablo Picasso)
      </div>

      <!-- Paragrafo descrittivo -->
      <p
        style="
          color: #555;
          line-height: 1.6;
          margin-top: 1.2rem;
          padding: 0 1rem;
          text-align: justify;
          font-size: 1rem;
        "
        class="animate-fadeindown animate-duration-500"
      >
        ​Mi chiamo Alan Mosconi e sono un artigiano con un'esperienza di oltre
        trent'anni in riproduzione di cornici antiche, produzione di cornici
        moderne, restauri e lavorazione a foglia oro con tecnica "a guazzo" e "a
        missione". ​Dopo un lungo percorso di apprendimento delle tecniche
        tradizionali e la collaborazione con i più affermati artigiani locali,
        nel 2007 nasce CreArte, punto di riferimento per artisti, architetti,
        galleristi e appassionati d'arte.
      </p>
    </div>
  </div>

 
  <!-- Sezione immagine -->
  <div class="col-span-12  md:col-span-6 flex justify-center items-center">
    <img src="assets/home/chi_sono.jpg" alt="chi siamo"/>
  </div>
</div>
