.quote-icon {
  font-size: 3rem;
  color: #333;
}

/* Styling for the main quote text */
.quote-text {
  font-size: 1.5rem;
  font-family: "Times New Roman", serif;
  font-style: italic;
}

.image-container {
  background-image: url("https://lh3.googleusercontent.com/p/AF1QipOENtMep4jeDz1NWWTU_axxb7XjFwiB1QHrz_RO=s1360-w1360-h1020");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80dvh;
  max-width: 100%;

}
