<div class="grid gap-4 col-12 mt-4 p-4">
  <div
    class="col-12 md:col h-full flex flex-column"
    style="flex-grow: 1; justify-content: space-between"
  >
    <div class="w-full mb-4">
      <app-outlined-button
        text="Chi Siamo"
        class="pointer-events-none"
        [white]="false"
      />
    </div>

    <div
      class="flex flex-1 flex-column justify-content-between w-full"
      style="flex-grow: 1"
    >
      <!-- Citazione -->
      <div
        class="quote-icon arboreto flex justify-content-start align-items-start"
        style="font-size: 2.2rem; color: #888"
      >
        “
      </div>
      <p class="quote-text fadeinup animation-duration-1000">
        Impara le regole come un professionista, affinché tu possa infrangerle
        come un artista.
      </p>
      <div
        class="quote-icon arboreto flex justify-content-end align-items-end"
        style="font-size: 2.2rem; color: #888"
      >
        ”
      </div>

      <!-- Autore della citazione -->
      <div
        class="w-full text-center"
        style="
          font-weight: bold;
          color: #333;
          margin-top: 0.5rem;
          font-size: 1.1rem;
        "
      >
        (Pablo Picasso)
      </div>

      <!-- Paragrafo descrittivo -->
      <p
        style="
          color: #555;
          line-height: 1.6;
          margin-top: 1.2rem;
          padding: 0 1rem;
          text-align: justify;
          font-size: 1rem;
        "
        class="fadeindown animation-duration-500"
      >
        ​Mi chiamo Alan Mosconi e sono un artigiano con un'esperienza di oltre
        trent'anni in riproduzione di cornici antiche, produzione di cornici
        moderne, restauri e lavorazione a foglia oro con tecnica "a guazzo" e "a
        missione". ​Dopo un lungo percorso di apprendimento delle tecniche
        tradizionali e la collaborazione con i più affermati artigiani locali,
        nel 2007 nasce CreArte, punto di riferimento per artisti, architetti,
        galleristi e appassionati d'arte.
      </p>
    </div>
  </div>

  <!-- Sezione immagine -->
  <div class="col-12 md:col flex justify-content-center align-items-center">
    <div
      class="w-full image-container border-round"
      style="
        height: 80dvh;
        background-image: url('https://lh3.googleusercontent.com/p/AF1QipOENtMep4jeDz1NWWTU_axxb7XjFwiB1QHrz_RO=s1360-w1360-h1020');
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    ></div>
  </div>
</div>
