<p-menubar class="bg-white" [style]="{ border: 'none', background:'white' }">
    <!-- Template per l'inizio della navbar -->
    <ng-template pTemplate="start">
      <div class="flex align-items-center gap-1">
        <!-- Quadrato oro -->
        <div class="h-2rem w-2rem bg-yellow-300"></div>
  
        <!-- Scritta -->
        <div class="flex flex-column">
          <span>CreaArte</span>
          <span>di Alan Mosconi</span>
        </div>
      </div>
    </ng-template>
  
    <!-- Template per posizionare items alla fine della navbar -->
    <ng-template pTemplate="end">
      <p-menubar [model]="items" [style]="{ border: 'none', background: 'white'}">
        <ng-template pTemplate="item" let-item>
          <a [href]="item.route" class="p-menuitem-link">
            <span class="ml-2">{{ item.label }}</span>
        </a>
        </ng-template>
      </p-menubar>
    </ng-template>
  </p-menubar>
  