<p-menubar class="bg-white sticky top-0 z-2" [style]="{ border: 'none', background: 'white' }" [model]="items">
  <ng-template pTemplate="start">
    <div class="flex align-items-center gap-1">
      <div class="h-2rem w-2rem bg-yellow-300"></div>
      <div class="flex flex-column">
        <span>CreArte</span>
        <span>di Alan Mosconi</span>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="item" let-item>
    <a 
      
      [href]="item.route" 
      class="p-menuitem-link bock lg:hidden">
      <span class="ml-2">{{ item.label }}</span>
    </a>
  </ng-template>

  <!-- Menu desktop -->
  <ng-template pTemplate="end">
    <div class="hidden lg:block">
      <p-menubar [model]="items" [style]="{ border: 'none', background: 'white' }">
        <ng-template pTemplate="item" let-item>
          <a [href]="item.route" class="p-menuitem-link">
            <span class="ml-2">{{ item.label }}</span>
          </a>
        </ng-template>
      </p-menubar>
    </div>
  </ng-template>
</p-menubar>
