<p-tabView class="white">
  <p-tabPanel header="Tutte">
    <div class="grid grid-cols-12 gap-4 bg-black/90 rounded-border">
      @for(cornice of cornici; track $index){
      <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3">
        <app-tab-item
          [tabData]="{
            url: cornice.immagine,
            name: 'Cornice ' + $index,
            subText: cornice.descrizione
          }"
          [tipo]="cornice.epoca.nome"
          [white]="true"
        />
      </div>
      }
    </div>
  </p-tabPanel>
  <!--  @for (group of groupedCornici; track $index) {
  <p-tabPanel [header]="group.epoca.nome">
    <div class="grid grid-cols-12 gap-4 bg-black/90 rounded-border">
      @for (cornice of group.cornici; track $index) {
      <div class="col md:col-span-4 lg:col-span-3">
        <app-tab-item [tabData]="{'url': cornice.immagine, 'name':cornice.nome, 'subText': cornice.descrizione}" [tipo]="group.epoca.nome"/>
      </div>
      }
    </div>
  </p-tabPanel>
  } -->
</p-tabView>
