:host ::ng-deep .p-dialog-content{
    background-color: black;
    color: white;
}

:host ::ng-deep .p-dialog-header{
    background-color: black;
    color: white;
}

:host ::ng-deep .p-image img{
    max-width: 100%;
}

:host ::ng-deep .p-dialog{
    border: none;
}