:host ::ng-deep .black .p-tabview,
::ng-deep .black .p-tabview-panels,
::ng-deep .black .p-tabview-panel {
  background-color: #1a1a1a;
}




:host ::ng-deep .black .p-tablist-tab-list {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;

  .p-tablist-active-bar{
    background: white;
  }

  button {
    color: white;
    background-color: #1a1a1a;
  }
}

:host ::ng-deep .white .p-tablist-tab-list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
  border: none;

  .p-tablist-active-bar{
    background: #1a1a1a;
  }

  button {
    color: #1a1a1a;
    background-color: none;
  }
}





:host ::ng-deep .black .p-carousel-indicator-list{

  button{
      background-color: black;
      border-radius: 1rem;
      transition: width 0.4s ease-in-out, background-color 0.2s ease-in-out; 
    

      &[tabIndex="0"]{
          background-color: white;
          width: 5rem;
      }
  }
}

:host ::ng-deep .white .p-carousel-indicator-list{

  button{
      background-color: white;
      border-radius: 1rem;
      transition: width 0.4s ease-in-out, background-color 0.2s ease-in-out; 
    

      &[tabIndex="0"]{
          background-color: black;
          width: 5rem;
      }
  }
}


@media screen and (max-width: 500px) {

  :host ::ng-deep .black .p-tabview-nav {
    display: flex;
    justify-content: start;
    align-items: start;
  }

  :host ::ng-deep .white .p-tabview-nav {
    display: flex;
    justify-content: start;
    align-items: start;
  }
  
}