<div class="sm:grid sm:gap-4 sm:m-4">
  @if(inversed){
    <div class="bg-black-alpha-90 sm:col-12 grid sm:gap-4 border-round">
    <app-outlined-button
      [white]="inversed"
      [text]="tecnica.nome"
      class="col-12 pointer-events-none"
    />
    <div class="col-12 md:col border-round">
      <p-galleria
        [value]="tecnica.immagini"
        [showIndicators]="true"
        [showThumbnails]="false"
        [autoPlay]="true"
        [circular]="true"
        [showItemNavigatorsOnHover]="true"
        [showItemNavigators]="true"
        class="white"
      >
        <ng-template pTemplate="item" let-item>
          <img 
          [src]="item" 
          class="image-container border-round"
          style="width: 100%; display: block;" />
        </ng-template>
      </p-galleria>
    </div>
    <div class="col-12 md:col border-round p-1">
      <p
        class="text-white"
        [innerHTML]="descrizioneSanitezed(tecnica.descrizione)"
      ></p>
    </div>
  </div>
  }@else {
  <app-outlined-button
    [white]="inversed"
    [text]="tecnica.nome"
    class="col-12 pointer-events-none"
  />
  <div class="col-12 md:col border-round p-1">
    <p [innerHTML]="descrizioneSanitezed(tecnica.descrizione)"></p>
  </div>

  <div class="col-12 md:col border-round">
    <p-galleria
      [value]="tecnica.immagini"
      [showIndicators]="true"
      [showItemNavigators]="true"
      [showThumbnails]="false"
      [autoPlay]="true"
      [circular]="true"
      class="black"
    >
      <ng-template pTemplate="item" let-item>
        <img 
        [src]="item" 
        class="image-container border-round"
        style="width: 100%; display: block;" />
      </ng-template>
    </p-galleria>
  </div>
  }
</div>
