<div class="sm:grid sm:gap-6 sm:m-6">
    <div class="bg-black/90 grid grid-cols-1 md:grid-cols-2 gap-4 sm:gap-6 rounded-border p-4">
    <div>
      <p-galleria
        [value]="tecnica.immagini"
        [showIndicators]="true"
        [showThumbnails]="false"
        [autoPlay]="true"
        [circular]="true"
        [showItemNavigatorsOnHover]="true"
        [showItemNavigators]="true"
        class="white"
      >
        <ng-template pTemplate="item" let-item>
          <img 
          [src]="item" 
          class="image-container "
          style="width: 100%; display: block;object-fit: contain;" />
        </ng-template>
      </p-galleria>
    </div>
    <div class="rounded-border p-1">
      <p
        class="text-white"
        [innerHTML]="descrizioneSanitezed(tecnica.descrizione)"
      ></p>
    </div>
  </div>
</div>
