.image-container {
  height: 50vh;
}

@media screen and (max-width: 450px){
    .image-container {
        height: 25dvh;
      }
}


:host ::ng-deep .white .p-galleria{

  border-width: 0;

    &[role="navigation"]{
        color: black;
    }
}

:host ::ng-deep .white .p-galleria-indicator-list {
  
  overflow: hidden;

  button {
    background-color: black;
    border-radius: 1rem;
    transition: width 0.4s ease-in-out, background-color 0.2s ease-in-out;
    height: 0.5rem;
  }

  .p-galleria-indicator {
    &[aria-selected="true"] {
      button {
        background-color: white !important; 
        width: 5rem !important; 
      }
    }
  }
}

