<div class="grid gap-4 m-4">
  @if(inversed){
  <div class="bg-black-alpha-90 col-12 grid gap-4 border-round">
    <div class="col-12 md:col border-round">
      <p-galleria
        [value]="tecnica.immagini"
        [showIndicators]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false"
        [autoPlay]="true"
        [circular]="true"
        class="white"
      >
        <ng-template pTemplate="item" let-item>
          <div
            class="image-container border-round cover relative"
            [style.backgroundImage]="'url(' + item + ')'"
          ></div>
        </ng-template>
      </p-galleria>
    </div>
    <div class="col-12 md:col border-round p-1">
      <app-outlined-button [white]="inversed" [text]="tecnica.nome" class="pointer-events-none" />
      <p class="text-white" [innerHTML]="descrizioneSanitezed(tecnica.descrizione)"></p>
    </div>
  </div>
  }@else {

  <div class="col-12 md:col border-round p-1">
    <app-outlined-button [white]="inversed" [text]="tecnica.nome" class="pointer-events-none"/>
    <p [innerHTML]="descrizioneSanitezed(tecnica.descrizione)"></p>
  </div>

  <div class="col-12 md:col border-round">
    <p-galleria
      [value]="tecnica.immagini"
      [showIndicators]="true"
      [showItemNavigators]="true"
      [showThumbnails]="false"
      [autoPlay]="true"
      [circular]="true"
      class="black"
    >
      <ng-template pTemplate="item" let-item>
        <div
          class="image-container border-round cover relative"
          [style.backgroundImage]="'url(' + item + ')'"
        ></div>
      </ng-template>
    </p-galleria>
  </div>
  }
</div>
