<div class="relative">
  <div
    class="z-10 absolute w-full h-full flex flex-col justify-between items-center"
  >
    <div class="mt-4 flex flex-col items-center">
      <app-outlined-button
        text="Crearte Alan Mosconi"
        [white]="whiteText"
      ></app-outlined-button>
      <h1
        class="arboreto font-bold text-center text-5xl mt-4"
        [class]="whiteText ? 'text-white ' : 'text-black'"
      >
        CreArte, dove ogni creazione prende vita come un'opera unica.
      </h1>
    </div>

    <div class="w-full grid grid-cols-12 gap-4 p-6">
     
      <div
        class="col-span-12 md:col-span-4 p-6 flex justify-start leading-normal"
        [class]="whiteText ? 'text-white ' : 'text-black'"
      >
        Scopri la storia di ogni cornice, dove intaglio, doratura e restauro
        trasformano tradizione e cultura in pura arte.
      </div>
      

      <div class="col-span-6 md:col-span-4 flex justify-center items-end">
        <a href="#cornici">
          <app-outlined-button
            [white]="whiteText"
            text="Cornici"
            class="mr-2"
          ></app-outlined-button>
        </a>
      </div>

      <div class="col-span-6 md:col-span-4 flex justify-end items-end">
        <app-outlined-button
          [white]="whiteText"
          icon="pi pi-angle-left"
          (clicked)="changeImage('sub')"
          class="mr-2"
        />
        <app-outlined-button
          icon="pi pi-angle-right"
          (clicked)="changeImage('add')"
          [white]="whiteText"
        />
      </div>
    </div>
  </div>

  <p-galleria
    [value]="images"
    [circular]="true"
    [showItemNavigators]="false"
    [showThumbnails]="false"
    [autoPlay]="true"
    [activeIndex]="activeIndex"
    (activeIndexChange)="changeTextColor($event)"
    class="rounded-border"
  >
    <ng-template pTemplate="item" let-item>
      <div
        class="image-container rounded-border cover relative"
        [style.backgroundImage]="'url(' + item + ')'"
      ></div>
    </ng-template>
  </p-galleria>
</div>
